# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Streamlit
.streamlit/config.toml
.streamlit/credentials.toml

# OS
.DS_Store
Thumbs.db

# Data & IA (Éviter d'uploader des datasets lourds ou des logs)
data/*.csv
data/*.xlsx
*.log

# Dossiers d'environnement virtuel
env/
.venv/
